{{#if this.isBlogTopic}}
  {{#if this.imageURL}}
    <div class="blog-image-container">
      <div
        class="blog-image"
        style="background-image: url('{{this.imageURL}}')"
      ></div>
    </div>
  {{/if}}
{{/if}}