.category-#{$blog_category} {
  #topic-title {
    display: flex;
    justify-content: center;
    .title-wrapper {
      width: calc(690px + (11px * 2));
    }
  }

  .blog-image-container {
    text-align: center;
    .blog-image {
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 440px;
    }
  }

  .topic-post {
    .row {
      display: flex;
      justify-content: center;
    }
  }

  #post_1 {
    .row {
      display: flex;
      justify-content: center;
    }

    .topic-avatar {
      height: 20px;
      width: 20px;
      border-top: none;
      background: none;
      img.avatar {
        height: 20px;
        width: 20px;
      }

      .avatar-flair {
        background-size: 8px 8px;
        width: 10px;
        height: 10px;
        top: unset;
        bottom: -5px;
        right: -3px;
      }
    }
    .topic-body {
      padding-top: 8px;
      border-top: none;

      &.highlighted {
        animation: none;
      }

      .topic-meta-data {
        display: flex;
        flex-direction: column;
        align-items: unset;
        padding: 0;
        margin-left: 6px;
        .names span {
          font-size: 1.15em;
        }

        .post-infos {
          display: flex;
          justify-content: space-between;
          .post-info.edits {
            float: right;
            margin-left: 5px;
            order: 1;
          }
          .post-info.post-date {
            float: left;
          }
        }
      }
      .contents {
        border-top: 1px solid #e9e9e9;
        margin-left: -25px;
        padding: 15px;
      }
      .topic-map {
        margin: 20px -12px 20px -38px;
      }
    }

    .cooked {
      // paragraph margins cause too much space between divider and text
      margin-top: -1em;

      big {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 1px;
        display: inline-block;
        font-family: Georgia;
      }

      & > .lightbox-wrapper {
        display: none;
      }

      & > .lightbox-wrapper ~ .lightbox-wrapper {
        display: block;
      }

      & > p img {
        display: none;
      }

      & > p ~ p img {
        display: block;
      }

      & > p:first-child {
        display: none;
      }
    }
  }

  @media all and (max-width: 775px) {
    #topic-title {
      margin-left: 24px;
      justify-content: left;
    }

    #topic-title .title-wrapper {
      box-sizing: border-box;
      width: calc(100% - 47px);
    }
  }

  @media all and (min-width: 950px) {
    .timeline-container {
      margin-left: 950px;
    }
  }

  // Adjust reply flair position
  .topic-avatar .avatar-flair {
    bottom: unset;
    top: 34px;

    &.rounded {
      top: 30px;
    }
  }

  // CSS below taken from Simon's original Blog Post plugin
  #topic-title h1 {
    font-size: 3em;
  }
  #topic-title a.edit-topic .d-icon {
    font-size: 0.5em;
  }

  .topic-meta-data {
    font-size: small;
  }

  .topic-avatar {
    padding-top: 0;
    width: 45px;
    float: left;
    padding-left: 6px;
    padding-top: 8px;
    border-top: 1px solid #e9e9e9;
  }

  .topic-body,
  .topic-avatar {
    background-color: #f6f6f6;
  }

  .cooked {
    padding: 0.5em 1em;
  }

  .topic-post {
    padding-bottom: 8px;
  }

  .topic-post:first-child {
    font-size: 1.25em;
    line-height: 1.4;
    padding-bottom: 0;
    padding-top: 4px;

    .topic-avatar {
      border-top: 1px solid #e9e9e9;
      padding-top: 4px;
    }

    .topic-body {
      background-color: #fff;
      padding-top: 16px;
    }

    .cooked {
      padding: 0;
    }

    nav.post-controls .actions,
    .topic-map,
    .post-admin-menu {
      font-size: 14px;
    }

    figure {
      margin: 0;
    }

    figcaption {
      margin-top: -16px;
      font-size: 0.8em;
      font-weight: bold;
    }

    blockquote {
      background: #f9f9f9;
      color: #777;
      border-left: 10px solid #ccc;
      padding: 0.5em 10px;
    }
    blockquote:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      vertical-align: -0.4em;
    }
    blockquote p {
      display: inline;
    }
  }

  // Hide the timeline when first entering the topic.
  .timeline-container.timeline-docked {
    display: none;
  }
}
